/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
}
/* body {
    padding: 0;
    margin: auto;
    background-color: white;
    min-height: 100%;
} */
body {
    padding: 0;
    margin: auto;
    background-color: white;
    min-height: 100%;
  }
.p5Canvas{
    margin: auto;
    display: flex;
}

p{
    text-align: center;
    margin-top: 50px;
}

/*
app-root{
    min-height: 100%;
}
*/

section{
    
    height: 450px;
    left: 25%;
    
    position: absolute;
    align-content: center;
}

.containerAnim{
    color: transparent;
    margin-top: 300px;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
}

.square{
    height: 94%;
    width: 94%;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -47% 0 0 -47%;
}

.black{ 
    background: black;  
    animation: moveAround 10s infinite linear; 
    
}

@keyframes rotate{
    0%{ transform: rotate(0deg); }
    50%{transform: rotate(-90deg);}
    100%{ transform: rotate(270deg); }	
}

@keyframes moveAround{
    0%, 100% {
        
      }
      25% {
        transform:  translateY(-200px) translateX(125px) rotate(360deg) ;
        
      }
}